@charset "utf-8";


.inner{max-width: 1560px; margin:0 auto;}
.row{max-width:1000px; margin:0 auto; padding:0 100px;}

#main{overflow:hidden}
#main .productlist{
    float:left;
    width:13%;
    /* border:1px solid red; */
    margin-top:145px;
    font-size:20px;
    font-weight:bold;
}
.producttitle{
    text-align:center;
    font-size:30px;
    padding-top:50px;
    font-weight:bold;
}
#main .productlist .depth1 > li{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
#main .productlist .depth1 > li > a{
    display:block;
    padding:5px 5px;
    position:relative;
}
#main .productlist .depth1 > li > a > i{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:0;
}
#main .productlist .depth1 .depth2{
    display:none;
}

#main .productlist .depth1 .depth2 > li{
    font-size:16px;
    color:#888;
    padding-left:30px;
}
#main .productlist .depth1 .depth2 > li > a{
    display:block;
    padding:5px 5px;
}

#main .Newproduct{
    float:right;
    width:85%;
}
#main .Newproduct{
    overflow:hidden;
    margin-top:50px;
    margin-bottom:100px;
}
#main .Newproduct li{
    width:17.5%;
    float:left;
    margin-right:20px;
    margin-bottom:20px;;
    border:1px solid #000; 
    transition:all 0.5s;
}
#main .Newproduct li:hover img{
    transform:scale(1.1);
    opacity:0.5;
}

#main .Newproduct li:nth-child(5),
#main .Newproduct li:nth-child(10){
    margin-right:0px;
}

#main .Newproduct .explain{
    border-top:1px solid #ccc;
    text-align:center;
}

#main .Newproduct .explain h3{font-size:15px; padding:15px 0px 0 0;}
#main .Newproduct .explain p {font-size:13px; color:#888; padding:5px 0 15px; word-break: keep-all;}